span {
padding:0 1rem;
transition: opacity 0.2s;
}

.sibling-fade:hover span:not(:hover){
opacity: 0.5;
}

/*
Explanation
transition: opacity 0.2s specifies that changes to opacity will be transitioned over 0.2 seconds.
.sibling-fade:hover span:not(:hover) specifies that when the parent is hovered, select any span children that are not currently being hovered and change their opacity to 0.5.

*/